/* #Mapa {
    height: 80vh;
    width: 100vw;
}
*/


html,
#cuerpo,
#Mapa {
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;
        }
/* h1{
    color:#000000;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    
}

select{
    margin-bottom: 20px;
    margin-left: 20px;
} */

.custom-circle-icon {
    background-color: rgb(238, 255, 0);
    border: 1px solid black;
    border-radius: 50%;
    width: 3px;
    height: 3px;
}

/* Estilo para el logo en la esquina superior izquierda */
        
#logo-izquierda {
    position: absolute;
    top: 10px;
    left: 60px;
    z-index: 1000; /* Asegura que el logo quede por encima del mapa */
}

#logo-izquierda img {
    width: 180px; /* Ajusta el tamaño del logo según tus necesidades */
    height: auto; /* Mantén la proporción original del logo */
}

/* Estilo para el titulo del centro */
#titulo-mapa{

    position: fixed;
    flex: 1;
    top: 20px;
    left: 29.5%;
    transform: translateX(-5%);
    /* white-space: nowrap; Evita que el texto se corte en varias líneas */
    /* overflow: hidden; */
    /* text-overflow: ellipsis; Muestra "..." si el texto es muy largo */
    padding: 0px 20px;     /* Espaciado interno del div */
    background-color: #ffffff; /* Fondo del div */
    opacity: .5;
    border: 2px solid #c2c2c2; /* Marco alrededor del div */
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para dar efecto de elevación */
    color:'#000000';
    font-family: Arial, Helvetica, sans-serif;
    /* font-size: clamp(8px, 4vw, 12px); El tamaño del texto será mínimo 16px y máximo 32px */
    font-weight: bold;
    text-align: center;
    z-index: 1000;
}

/* Estilo para el logo en la esquina superior derecha */
#logo-derecha {
    position: absolute;
    top: 10px;
    right: 60px;
    z-index: 1000; /* Asegura que el logo quede por encima del mapa */
}

#logo-derecha img {
    width: 80px; /* Ajusta el tamaño del logo según tus necesidades */
    height: auto; /* Mantén la proporción original del logo */
}

.titleprin {
    font-size: 12px; /* Tamaño base del texto */
  }
  
  @media (max-width: 1920px) {
    .titleprin {
      font-size: .5vw; /* Ajuste en pantallas medianas como tabletas */
    }
  }
  
  @media (max-width: 480px) {
    .titleprin {
      font-size: 1vw; /* Ajuste para pantallas pequeñas, como móviles */
    }
  }

